#Configuration file for MeerTime pipeline (meerpipe)

#User
user = Aditya

#Type of data
type = meertime

#Pipeline version
pipe = old

#Path to the directories for each pulsar
input_path = /fred/oz005/timing

#Path where the data products are stored
output_path = /fred/oz005/users/aparthas/reprocessing_MK/DM_Offset

#output_path = /fred/oz005/users/aparthas/pol_cal_tests

#Path with the jones matrices
calibrators_path = /fred/oz005/users/aparthas/reprocessing_MK/poln_calibration 

#Custom ephemerides and template paths 
meertime_templates = /fred/oz005/users/rspiewak/msp_templates
meertime_ephemerides = /fred/oz005/users/rspiewak/msp_ephemerides

#RM
#rm_cat = /fred/oz005/users/rspiewak/msp_census_scratch/msps_rm.list
rm_cat = /fred/oz005/users/rspiewak/msp_census_scratch/meerpipe_rms_msps.txt
#DM
dm_cat = /fred/oz005/users/rspiewak/msp_census_scratch/meerpipe_dms_msps.txt

#Processing flags : T, F, p, subband <number>, nozap, saveall
flags = saveall 

#Reference frequency list for 928 channels
ref_freq_list = /fred/oz005/meerpipe/configuration_files/928ch_frequency_reference.npy

#Additional information for processing. 
decimation_products = /fred/oz005/meerpipe/configuration_files/additional_info/pta_decimation.list

#RFI routine (CG or CHIVE)
rfi_alg = MG
