#Configuration file for MeerTime pipeline (meerpipe)

#User
user = Aditya

#Type of data
type = meertime

#Pipeline version
pipe = old

#Path to the directories for each pulsar
input_path = /fred/oz005/timing

#Path where the data products are stored
output_path = /fred/oz002/aparthas/J1125-6014/MK_data/v3/MeerPipe_Reprocessed
#output_path = /fred/oz005/users/aparthas/pol_cal_tests

#Path with the jones matrices
calibrators_path = /fred/oz005/users/aparthas/reprocessing_MK/poln_calibration

#Processing flags : T, F, p, subband <number>, nozap, saveall
flags = saveall 

#Additional information for processing. 
decimation_products = /fred/oz005/meerpipe/configuration_files/additional_info/relbin_decimation.list

meertime_ephemerides = /fred/oz002/aparthas/J1125-6014/MK_data/v3
meertime_templates = /fred/oz002/aparthas/J1125-6014/MK_data/v3

#RM
rm_cat = /fred/oz005/meerpipe/configuration_files/additional_info/relbin_rm.list
##DM
dm_cat = /fred/oz005/meerpipe/configuration_files/additional_info/relbin_dm.list

#RFI routine (CG or CHIVE)
rfi_alg = MG
