#Configuration file for MeerTime pipeline (meerpipe)

#User
user = Aditya

#Type of data
type = meertime

#Pipeline version
pipe = old

#Path to the directories for each pulsar
input_path = /fred/oz005/timing

#Path where the data products are stored
output_path = /fred/oz005/users/aparthas/reprocessing_MK
#output_path = /fred/oz005/timing_processed

#Path with the jones matrices
calibrators_path = /fred/oz005/users/aparthas/reprocessing_MK/poln_calibration

#URLs to the ephemerides and template repositories
repo_urls = git@bitbucket.org:meertime/mt_ephemerides.git,  git@bitbucket.org:meertime/mt_templates.git

##Processing flags : T, F, p, subband <number>, nozap, saveall
flags = saveall

##Additional information for processing.
decimation_products = /fred/oz005/meerpipe/configuration_files/additional_info/relbin_decimation.list

meertime_ephemerides = /fred/oz005/users/aparthas/reprocessing_MK/RelBin/MeerTIME_RelBin/ephemerides
meertime_templates = /fred/oz005/users/aparthas/reprocessing_MK/RelBin/MeerTIME_RelBin/templates

#RFI routine (CG or CHIVE)
rfi_alg = CG
