#Configuration file for MeerTime pipeline (meerpipe)

#User
user = Aditya

#Type of data
type = meertime

#Pipeline version
pipe = new

#Path to the directories for each pulsar
input_path = /fred/oz005/timing

#Path where the data products are stored
output_path = /fred/oz005/users/aparthas/meerpipe_test/
#output_path = /fred/oz005/users/aparthas/pol_cal_tests

#Path with the jones matrices
calibrators_path = /fred/oz005/users/aparthas/reprocessing_MK/poln_calibration 

#URLs to the ephemerides and template repositories
repo_urls = git@bitbucket.org:meertime/mt_ephemerides.git,  git@bitbucket.org:meertime/mt_templates.git

#Processing flags : T, F, p, subband <number>, nozap, saveall
flags = t 1 f 32,t 1 f 8,t all f 8,saveall 

#Additional information for processing. 
rm_cat = /fred/oz005/meerpipe/configuration_files/additional_info/tpa_rm.list
dm_cat = /fred/oz005/meerpipe/configuration_files/additional_info/tpa_dm.list

#Reference frequency list for 928 channels
ref_freq_list = /fred/oz005/meerpipe/configuration_files/928ch_frequency_reference.npy

#Custom ephemerides and template paths
meertime_templates = /fred/oz005/users/aparthas/reprocessing_MK/TPA/tpa_templates
meertime_ephemerides = /fred/oz005/users/aparthas/reprocessing_MK/TPA/tpa_ephemerides

#RFI routine (CG or CHIVE)
rfi_alg = CG
