#Configuration file for MeerTime pipeline (meerpipe)

#User
user = Aditya

#Type of data
type = meertime

#Pipeline version
pipe = new

#Path to the directories for each pulsar
input_path = /fred/oz005/users/vvenkatr/NGC6440/fold/reorganized

#Path where the data products are stored
output_path = /fred/oz005/users/aparthas/reprocessing_MK
#output_path = /fred/oz005/users/aparthas/pol_cal_tests

#Path with the jones matrices
calibrators_path = /fred/oz005/users/aparthas/reprocessing_MK/poln_calibration 

#URLs to the ephemerides and template repositories
repo_urls = git@bitbucket.org:meertime/mt_ephemerides.git,  git@bitbucket.org:meertime/mt_templates.git

#Processing flags : T, F, p, subband <number>, nozap, saveall
flags = saveall 

#Additional information for processing. 
decimation_products = /fred/oz005/meerpipe/configuration_files/additional_info/ngcsearch_decimation.list

meertime_ephemerides = /fred/oz005/users/vvenkatr/NGC6440/fold/reorganized/ephemeris
meertime_templates = /fred/oz005/users/aparthas/reprocessing_MK/RelBin/MeerTIME_RelBin/templates 

#RFI routine (CG or CHIVE)rfi_alg = CG
rfi_alg = CG
