#Configuration file for MeerTime pipeline (meerpipe)

#User
user = Aditya

#Type of data
type = meertime

#Path to the directories for each pulsar
input_path = /fred/oz005/timing

#Path where the data products are stored
output_path = /fred/oz005/timing_processed

#Path with the jones matrices
calibrators_path = /fred/oz005/timing_processed/poln_calibration

#URLs to the ephemerides and template repositories
repo_urls = git@bitbucket.org:meertime/mt_ephemerides.git,  git@bitbucket.org:meertime/mt_templates.git

#Processing flags : T, F, p, subband <number>, nozap, saveall
flags = pscrunch,t 320 f 8,t 64 f 16,t 8 f 32,tscrunch,fscrunch,saveall

#Project-ID
project_id = MK

#RFI routine (CG or CHIVE)
rfi_alg = CG
